body{
    width: 750px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

#main-header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#main-header h1{
    position: relative;
    bottom: 10px;
}

.contentBox{
    line-height: 1.6;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
}
.contentBox #firstSlide{
    font-family: "Arial ", Gadget, sans-serif;
    font-size: 16px;
    
}
.contentBox #secondSlide{
    font-family: "Arial ", Gadget, sans-serif;
    font-size: 16px;
    
}
blockquote{
    font-style: italic;
    color: #555555;
    border-left: 4px solid #cccccc;
    margin: 10px 0;
    padding-left: 10px;
}
h2{
    font-family: "Arial ", Gadget, sans-serif;
    font-size: 24px;
    position: relative;
    left: 10px;
    text-align: center;
}
#LoremIpsumphoto{
    width: 1000px;
    height: 400px;
    border-radius: 5px;
    position: relative;
    right: 50px;
    
}

img{
    transition: all 0.3s ease-in;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}
.contentBox .content1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    gap: 300px;
}

.contentBox .content2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}
.contentBox .content3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}
footer{
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    display: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}
#scrollToTopBtn:hover {
    background-color: #45a049;
}

nav{
    display: flex;
    justify-content: right;
    position: relative;
    right: 20px;
      overflow: hidden;
    border-radius: 5px;
}
nav button{
    background-color: #409643;
    color: white;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav button:hover {
    background-color: #3b7a33;
}

#settingsModal{
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 1000px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 175px;
    z-index: 1000;
}

.settings-header{
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

