body{
    width: 500px;
    margin: 0 auto;
    background-color: aliceblue;
}

#main-header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
